// --------------------------------------------------------------------------------
// Here our main color palette. Easy to remember.
// --------------------------------------------------------------------------------

$black-pure: #000000;
$white-pure: #FFFFFF;

$black: #191919;
$white: #F4F4F0;
$gray: #4A4A4A;

$light-sea-green: #1BA89E;


// --------------------------------------------------------------------------------
// Here to define bootstrap grid.
// --------------------------------------------------------------------------------

$primary-color: $light-sea-green;
$secondary-color: $black;

$text-primary-color: $white;
$text-secondary-color: $gray;
