// --------------------------------------------------------------------------------
// Create Vertical Gap Helper
// --------------------------------------------------------------------------------

@for $i from 10 through 60 {

  @if $i % 10 == 0 {

    .vgap-#{$i} {
      margin-top: 1px * $i;
      margin-bottom: 1px * $i;
    }

  }
}

// --------------------------------------------------------------------------------
// Round Helper
// --------------------------------------------------------------------------------

@for $i from 2 through 8 {

  @if ($i % 2 == 0) {
    .round-#{$i} {
      border-radius: 1px * $i;
    }
  }

}
